[Unit]
Description=Gunicorn instance to serve AirBnB Clone
# Start after the network is available
After=network.target

[Service]
# Run the server
User=ubuntu
# Set working directory
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
# Start gunicorn with 3 workers
ExecStart=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /tmp/airbnb-error.log
# Restart the service if it fails
Restart=always
# Redirect standard output to syslog
StandardOutput=append:/tmp/airbnb-access.log
# Redirect standard error to syslog
StandardError=append:/tmp/airbnb-error.log
# Identify for syslog msg
SyslogIdentifier=gunicorn

[Install]
# Enable the service
WantedBy=multi-user.target
